#page-orphanage {
  display: flex;
  min-height: 100vh;
}

#page-orphanage main {
  flex: 1;
}

.orphanage-details {
  width: 700px;
  margin: 64px auto;

  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(211, 226, 229, 1);
  border-radius: 20px;

  overflow: hidden;
}

.orphanage-details > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.orphanage-details .images {
  display: grid;
  grid-template-columns: repeat(6 ,1fr);
  column-gap: 16px;

  margin: 16px 40px 0;
}
 
.orphanage-details .images button {
  border: 0;
  height: 88px;
  background: none;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  outline: none;
  
  opacity: 0.6;
}

.orphanage-details .images button.active {
  opacity: 1;
}

.orphanage-details .images button img {
  width: 100%;
  height: 88px;
  object-fit: cover;
  
}

.orphanage-details .orphanage-details-content {
  padding: 80px;
}

.orphanage-details .orphanage-details-content h1 {
  color: rgba(77, 111, 128, 1);
  font-size: 54px;
  line-height: 54px;
  margin-bottom: 8px;
}

.orphanage-details .orphanage-details-content p {
  line-height: 28px;
  color: rgba(92, 133, 153, 1);
  margin-top: 24px;
}

.orphanage-details .orphanage-details-content .map-container {
  margin-top: 64px;
  background: rgba(230, 247, 251, 1);
  border: 1px solid rgba(177, 218, 226, 1);
  border-radius: 20px;
}

.orphanage-details .orphanage-details-content .map-container footer {
  padding: 20px 0;
  text-align: center;
}

.orphanage-details .orphanage-details-content .map-container footer a {
  line-height: 24px;
  color: rgba(0, 137, 165, 1);
  text-decoration: none;
}

.orphanage-details .orphanage-details-content .map-container .leaflet-container {
  border-bottom: 1px solid rgba(221, 227, 240, 1);
  border-radius: 20px;
}

.orphanage-details .orphanage-details-content hr {
  width: 100%;
  height: 1px;
  border: 0;
  background: rgba(211, 226, 230, 1);
  margin: 64px 0;
}

.orphanage-details .orphanage-details-content h2 {
  font-size: 36px;
  line-height: 46px;
  color: rgba(77, 111, 128, 1);
}

.orphanage-details .orphanage-details-content .open-details {
  margin-top: 24px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.orphanage-details .orphanage-details-content .open-details div {
  padding: 32px 24px;
  border-radius: 20px;
  line-height: 28px;
}

.orphanage-details .orphanage-details-content .open-details div svg {
  display: block;
  margin-bottom: 20px;
}

.orphanage-details .orphanage-details-content .open-details div.hour {
  background: linear-gradient(149.97deg, rgba(230, 247, 251, 1) 8.13%, rgba(255, 255, 255, 1) 92.67%);
  border: 1px solid rgba(179, 218, 226, 1);
  color: rgba(92, 133, 153, 1);
}

.orphanage-details .orphanage-details-content .open-details div.open-on-weekends {
  background: linear-gradient(154.16deg, rgba(237, 255, 246, 1) 7.85%, rgba(255, 255, 255, 1) 91.03%);
  border: 1px solid rgba(161, 233, 197, 1);
  color: rgba(55, 199, 127, 1);
}

.orphanage-details .orphanage-details-content .open-details div.open-on-weekends.dont-open {
  background: linear-gradient(154.16deg, rgba(253, 208, 245,1) 7.85%, rgba(255, 255, 255, 1) 91.03%);
  border: 1px solid rgba(255, 188, 212,1);
  color: rgba(255, 102, 144, 1);
}